<nav class="drawer-nav" role="navigation"
style="
background-color: #EEEEEE;
"
>
  <ul class="drawer-menu">
    <li><a class="drawer-brand" href="#">Brand</a></li>
    <li><a class="drawer-menu-item" href="#">Nav1</a></li>
    <li><a class="drawer-menu-item" href="#">Nav2</a></li>
  </ul>
</nav>
