<header 
role="banner"
style="
z-index: 100;
background-color: #EEEEEE;
width: 100vw;
height: 50px;
position: fixed;
top: 0px;
left: 0px;
"
>
  <button type="button" class="drawer-toggle drawer-hamburger">
    <span class="sr-only">toggle navigation</span>
    <span class="drawer-hamburger-icon"></span>
  </button>
  <%= render 'demo_admin/partial/drawer_menu' %>
  <div
  style="
  text-align: center;
  font-size: 30px;
  "
  >
    Management Screen for DemoAdmin
  </div>
</header>
