@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "top";
@import "layouts/navbar";

@import "users/sign_up";
@import "users/sign_in";

@import "users/show";
@import "users/edit";
@import "users/index";

@import "/youtube/videos_search/index";
@import "/youtube/myvideos";
@import "/youtube/myvideos/index";
@import "/youtube/myvideos/status/like/index";

@import "matching/index";
@import "chat_rooms/show";


.pagination {
  display: flex;
  justify-content: center;
  font-size: 16px;
}          
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  border-radius: 15px;    /*角を丸くする*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.breadcrumb{
  .breadcrumb-item{
    &:first-child {
      &:before{
        color: #343a40;
        font-family: FontAwesome;
        content: "\f015";
      }
    }
    &:before{
      padding: 0 .2em;
     }
  }
}


.current {
  font-weight: bold;
  margin-right: 1vw;
}

a{
  list-style: none;
  color: #38aef0 ;
  text-decoration: none;
  color: grey ;
}
